@import '~react-datepicker/dist/react-datepicker.css';
/* @import './w3.css'; */

.datepicker-container .react-datepicker-manager,
.datepicker-container .react-datepicker-wrapper,
.datepicker-container .react-datepicker__input-container,
.datepicker-container .react-datepicker__input-container input {
  width: 100%;
} 